<launch>
   <rosparam file="$(find handle)/cfg/we_joy_control.yaml" command="load" />

 <node pkg="joy" type="joy_node" name="joystick">
    <rosparam file="$(find handle)/cfg/we_joy_control.yaml" command="load" />
   </node>

   <node pkg="handle" type="handle_control" name="handle_control"  output="screen">
    
   </node>

</launch>
